name: Lint and Tests

on: [push, pull_request]

jobs:

  test:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:

      - name: "Pull the repository"
        uses: actions/checkout@v5

      - name: "Set up Python ${{ matrix.python-version }}"
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: "Install Nox"
        run: |
          pip3 install setuptools
          pip3 install nox

      - name: "Lint with Flake8 and Black"
        run: |
          python3 -m nox --session lint

      - name: "Start Nextcloud Music test container"
        run: |
          python3 -m nox --session start_nextcloud_docker

      - name: "Test with pytest"
        run: |
          python3 -m nox --session test-${{ matrix.python-version }}

      - name: "Stop Nextcloud Music test container"
        run: |
          python3 -m nox --session stop_nextcloud_docker

